.boutton-iconimage
{
	width:		40px;
	height: 	40px;
}

.button-colour-line
{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.btn-init
{
	padding: 0;
}

#black
{
	background: url(../img/Color_Black.png) no-repeat;
	background-size: 100% 100%;
}

#blue
{
	background: url(../img/Color_Blue.png) no-repeat;
	background-size: 100% 100%;
}

#green
{
	background: url(../img/Color_Green.png) no-repeat;
	background-size: 100% 100%;
}

#grey
{
	background: url(../img/Color_Grey.png) no-repeat;
	background-size: 100% 100%;
}

#magenta
{
	background: url(../img/Color_Magenta.png) no-repeat;
	background-size: 100% 100%;
}

#red
{
	background: url(../img/Color_Red.png) no-repeat;
	background-size: 100% 100%;
}

#turquoise
{
	background: url(../img/Color_Turquoise.png) no-repeat;
	background-size: 100% 100%;
}

#white
{
	background: url(../img/Color_White.png) no-repeat;
	background-size: 100% 100%;
}

#yellow
{
	background: url(../img/Color_Yellow.png) no-repeat;
	background-size: 100% 100%;
}

#style_solid
{
	background: url(../img/Style_Solid.png) no-repeat;
	background-size: 100% 100%;
}

#style_dotted
{
	background: url(../img/Style_Dotted.png) no-repeat;
	background-size: 100% 100%;
}

#style_point
{
	background: url(../img/Style_Point.png) no-repeat;
	background-size: 100% 100%;
}

/*--------------------SHOW toolbar elements-------------------------*/
.shape-show
{
	display:			inline-block;
}

.color-show
{
	display:			inline-block;
}

.style-show
{
	display:			inline-block;
}

.edit-show
{
	display:			inline-block;
}

.transposition-show
{
	display:			inline-block;
}

.operation-show
{
	display:			inline-block;
}

.option-show
{
	display:			inline-block;
}

/*--------------------HIDE toolbar elements-------------------------*/
.shape-hide
{
	display:			none;
}

.color-hide
{
	display:			none;
}

.style-hide
{
	display:			none;
}

.edit-hide
{
	display:			none;
}

.transposition-hide
{
	display:			none;
}

.operation-hide
{
	display:			none;
}

.option-hide
{
	display:			none;
}

#file-upload
{
	width: 0.1px;
	height: 0.1px;
	overflow: hidden;
	opacity: 0;
	position: absolute;
	z-index: -2;
}
