.login-form {
    display: block;
    margin: 0 auto;
    padding-top: 1em;
}

.sumbit-button {
    display: block;
    margin: 0 auto;
    padding: 0.5em 1.5em;
}

@media (min-width: 576px) {
  .login-form { width: 100%; }
}

@media (min-width: 768px) {
  .login-form { width: 300px; }
}

@media (min-width: 1200px) {
  .login-form { width: 600px; }
}
